[submodule "autoload/vim-plug"]
	path = autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "autoload/vim-pathogen"]
	path = autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
